.font-orange {
  color: orange;
  font-family: "Fresh";
}
.font-blue {
  color: blue;
  font-family: "Fresh";
}
.font-violet {
  color: violet;
  font-family: "Fresh";
}
.font-grey {
  color: grey;
  font-family: "Fresh";
}
.font-green {
  color: #008000;
  font-family: "Fresh";
}
.font-refstw {
  color: #c83f49;
  font-family: "Fresh";
}
.font-refgrf {
  color: #a72f48;
  font-family: "Fresh";
}
