.font-orange {
  color: orange;
  font-family: "Fresh";
}
.font-blue {
  color: blue;
  font-family: "Fresh";
}
.font-violet {
  color: violet;
  font-family: "Fresh";
}
.font-grey {
  color: grey;
  font-family: "Fresh";
}
.font-green {
  color: green;
  font-family: "Fresh";
}
