@font-face {
  font-family: "Bree Serif";
  src: url("/font/BreeSerif-Regular.ttf");
}
@font-face {
  font-family: "DM Serif Display";
  src: url("/font/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "Fresh";
  src: url("/font/Fresh-Fruit.otf");
}
