@media screen and (orientation: landscape) and (min-width: 1281px) {
  body {
    display: grid;
    grid-template-columns: 1fr repeat(10, 128px) 1fr; /* 1280 px*/
    grid-template-rows: repeat(3, 100vh) auto auto;
  }
  nav {
  }
  .logo {
    left: 10vw;
    right: 70vw;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 30vw;
    right: 10vw;
    justify-content: flex-end;
  }
  .menu ul {
    justify-content: flex-end;
  }
  .menu ul li a img {
    display: none;
  }
  .menu ul li a p {
    font-size: 1.1rem;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#page1 {
    grid-column: 1/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section#page1 h1 {
    text-align: left;
    font-size: 2.5rem;
  }
  section#page1 .sliderimg {
    position: relative;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    background-color: #4c7515;
    z-index: 1;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  section#page1 .kotakslides {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    z-index: 1;
  }
  section#page1 .sliderimg .mySlides {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 1200px;
  }
  section#page1 .copywriting1 {
    position: absolute;
    float: left;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    padding: 25px;
    z-index: 1;
  }
  section#page1 .sliderimg .mySlides img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    border-radius: 15px;
  }
  section#page2 {
    grid-column: 1/13;
    grid-row: 2;
    background-image: url(/svg/background1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page3 {
    grid-column: 1/13;
    grid-row: 3;
    background-image: url(/svg/background4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  footer {
    grid-column: 2/12;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
  }
  footer .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  footer .footer h2 {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  footer .footer .left,
  footer .footer .center,
  footer .footer .right {
    width: 200px;
  }
}
