@media screen and (orientation: landscape) and (max-width: 1279px) {
  body {
    display: grid;
    grid-template-columns: 1fr repeat(10, 96px) 1fr; /* 640 px*/
    grid-template-rows: repeat(3, 100vh) auto;
  }
  nav {
  }
  .logo {
    left: 10vw;
    right: 70vw;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 30vw;
    right: 10vw;
    justify-content: flex-end;
  }
  .menu ul {
    justify-content: flex-end;
  }
  .menu ul li a img {
    display: none;
  }
  .menu ul li a p {
    font-size: 1.15rem;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#page1 {
    grid-column: 1/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/svg/background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page2 {
    grid-column: 1/13;
    grid-row: 2;
    background-image: url(/svg/background1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page3 {
    grid-column: 1/13;
    grid-row: 3;
    background-image: url(/svg/background4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  footer {
    grid-column: 2/12;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
  }
  footer .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  footer .footer h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  footer .footer .left {
    width: 200px;
  }
  footer .footer .center {
    width: 200px;
  }
  footer .footer .right {
    width: 200px;
  }
  footer .socialmedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  footer .socialmedia ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
  }
}
