@media screen and (orientation: landscape) and (max-width: 959px) {
  body {
    grid-template-columns: repeat(10, 64px); /* 640 px*/
    grid-template-rows: repeat(20, 5vh);
  }
  nav {
  }
  .logo {
    left: 10vw;
    right: 70vw;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 30vw;
    right: 10vw;
    justify-content: flex-end;
  }
  .menu ul {
    justify-content: flex-end;
  }
  .menu ul li a img {
    display: none;
  }
  .menu ul li a p {
    font-size: 1.15rem;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}
