body .info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 100;
}
body .info .infobox {
  position: relative;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-color: white;
}
body .info .infobox .text {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
}
body .info .infobox .text .text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  line-height: 2rem;
  gap: 10px;
}
body .info .infobox .logo {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
body h1 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(138, 43, 226, 0.75);
}
body .info .infobox p1 {
  text-align: center;
}
body .info .infobox p2 {
  font-family: "Fresh";
  color: rgb(48, 155, 48);
  text-align: center;
}
body .info .infobox p2a {
  font-family: "Fresh";
  color: rgb(175, 180, 0);
  text-align: center;
}
body .info .infobox p3 {
  font-size: 1rem;
  color: rgb(75, 75, 75);
  text-align: center;
  line-height: 1.2rem;
}
body .info .infobox span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  color: white;
  background-color: rgb(102, 88, 180);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(95, 95, 95);
  cursor: pointer;
}
