@media screen and (orientation: portrait) and (min-width: 721px) {
  body {
    grid-template-columns: 1fr repeat(9, 1fr) 1fr; /* 720 px*/
    grid-template-rows: repeat(3, 100vh) auto 55px;
  }
  nav {
  }
  .logo {
    left: 0;
    right: 0;
    justify-content: center;
  }
  .menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    background: linear-gradient(30deg, #622067, #9f49a6, #9f49a6, #622067);
  }
  .menu ul {
    justify-content: space-evenly;
  }
  .menu ul li a p {
    display: none;
  }
  .menu ul li a img {
    width: 75px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  section#page1 {
    grid-column: 1/12;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom {
    width: 500px;
    height: 700px;
  }
  .bottom .nepr {
    width: 500px;
  }
  section#page1 h1 {
    text-align: center;
    font-size: 1.75rem;
  }
  section#page1 .sliderimg {
    width: 500px;
    height: 800px;
  }
  section#page1 .sliderimg .mySlides {
    width: 500px;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  section#page1 .sliderimg .mySlides .copywriting1 {
    width: 450px;
  }
  section#page1 .sliderimg .mySlides img {
    height: 500px;
  }
  section#page2 {
    grid-column: 1/13;
    grid-row: 2;
    background-image: url(/svg/background1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page3 {
    grid-column: 1/13;
    grid-row: 3;
    background-image: url(/svg/background4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  footer {
    grid-column: 1/13;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 10px 10px 0px 0px; */
  }
  footer h2 {
    text-align: center;
    font-size: 1rem;
  }
  footer .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  footer .footer .F_ABOUT_US,
  footer .footer .F_PARTNER,
  footer .footer .F_FRANCHISE,
  footer .footer .F_AVAILABLE {
    width: auto;
    padding: 0px 5px;
    text-align: center;
  }
  footer .footer a {
    font-size: 1rem;
  }
}
