@media screen and (orientation: portrait) and (max-width: 539px) {
  body {
    grid-template-columns: repeat(10, 53px); /* 359 px*/
    grid-template-rows: repeat(3, 100vh) auto auto;
  }
  nav {
  }
  .logo {
    left: 0;
    right: 0;
    justify-content: center;
  }
  .menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    background: linear-gradient(30deg, #622067, #9f49a6, #9f49a6, #622067);
  }
  .menu ul {
    justify-content: space-evenly;
  }
  .menu ul li a p {
    display: none;
  }
  section#page1 {
    grid-column: 1/12;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/svg/background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page2 {
    grid-column: 1/12;
    grid-row: 2;
    background-image: url(/svg/background1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page3 {
    grid-column: 1/12;
    grid-row: 3;
    background-image: url(/svg/background4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .menu ul li a img {
    width: 75px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
}
