@media screen and (orientation: portrait) and (max-width: 720px) {
  body {
    grid-template-columns: 1fr repeat(9, 71px) 1fr; /* 720 px*/
    grid-template-rows: repeat(3, 100vh) auto 55px;
  }
  nav {
  }
  .logo {
    left: 0;
    right: 0;
    justify-content: center;
  }
  .menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    background: linear-gradient(30deg, #622067, #9f49a6, #9f49a6, #622067);
  }
  .menu ul {
    justify-content: space-evenly;
  }
  .menu ul li a p {
    display: none;
  }
  .menu ul li a img {
    width: 75px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  section#page1 {
    grid-column: 1/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section#page1 .copywriting1 {
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    color: #303f9f;
    padding: 25px;
  }
  section h1 {
    font-size: 2rem;
  }
  section#page1 .sliderimg {
    position: relative;
    top: 0px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    /* background-color: #4c7515; */
  }
  section#page1 .kotakslides {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    animation: slide 15s steps(3) infinite;
  }
  section#page1 .sliderimg .mySlides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 400px;
    /* background-color: #303f9f; */
  }
  section#page1 .sliderimg .mySlides img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
  }
  @keyframes slide {
    0% {
      margin-left: -800px;
      transform: 1s;
    }
    100% {
      margin-left: 400px;
      transform: 1s;
    }
  }
  section#page2 {
    grid-column: 1/13;
    grid-row: 2;
    background-image: url(/svg/background1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  section#page3 {
    grid-column: 1/13;
    grid-row: 3;
    background-image: url(/svg/background4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  footer {
    grid-column: 2/11;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
  }
  footer .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  footer .footer h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  footer .footer .left {
  }
  footer .footer .center {
  }
  footer .footer .right {
  }
  footer .socialmedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  footer .socialmedia ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
  }
}
