body {
  display: grid;
}
.navbg {
  /* background-color: #4c7515; */
  background-color: #c83f49;
  box-shadow: 0px 0px 5px black;
}
.color1 {
  color: #000000;
}
.color2 {
  color: #ffffff;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 2;
}
.logo {
  position: fixed;
  top: 0;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 3;
}
.menu {
  font-family: "DM Serif Display", serif;
  height: 72px;
  z-index: 3;
}
.active {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-bottom: 1px solid rgb(255, 0, 0);
}
.menu ul {
  gap: 10px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
}
.menu ul li {
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* background-color: #9f49a6; */
  border-radius: 5px;
}
.menu ul li a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}
section#page1 {
  background-image: linear-gradient(rgb(25, 25, 25, 0.5), #4c7515);
  color: white;
  position: relative;
}
section#page1 h1 {
  color: white;
}
section#page1 .sliderimg {
  /* background-color: #4c7515;
  box-shadow: 0px 0px 10px rgb(255, 255, 255); */
}
.show {
  display: block;
}
section#page2 .page2a {
  position: relative;
}
section#page2 .page2a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
section#page2 .page2a .page2aa .head .texta {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#page2 .page2a .page2aa .head .texta p {
  font-family: "Fresh";
  font-size: 2rem;
  color: violet;
  text-shadow: 0px 0px 1px black;
}
section#page2 .page2a .product {
  width: 1250px;
  height: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
section#page2 .page2a .product .text {
  position: relative;
  width: 350px;
  height: 200px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  color: rgb(74, 122, 134);
  /* background-color: #facb35; */
}
section#page2 .page2a .product .text img {
  position: absolute;
  z-index: -1;
}
section#page2 .page2a .product .text h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  text-align: left;
}
section#page2 .page2a .product .text p {
  text-align: left;
  color: black;
}
section#page2 .page2a .product .prod {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
  border-radius: 10px;
}
section#page2 .page2a .product .text:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
section#page2 .page2a .product .prod:hover {
  box-shadow: 5px 5px 5px rgb(67, 57, 112);
  transform: scale(1.01);
  transition: 0.5s;
}

section#page2 .page2a {
}
section#page2 .page2b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
section#page3 .page3a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
footer {
  background-color: #bcbcbc;
}
footer a {
  color: rgb(75, 69, 59);
}
footer h2 {
  font-weight: bolder;
}
footer .fbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 25px;
}
footer .socialmedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: auto;
}
footer .socialmedia li {
  padding: 0px 0px;
}
footer .fbox p {
  font-size: 0.75rem;
  text-align: center;
}
