body {
  display: grid;
}

.navbg {
  background-color: #b873be;
}
.color {
  color: #4c7515;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 2;
}
.logo {
  position: fixed;
  top: 0;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 3;
}
.menu {
  font-family: "DM Serif Display", serif;
  height: 72px;
  z-index: 3;
}
.active {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-bottom: 1px solid rgb(255, 0, 0);
}
.menu ul {
  gap: 10px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
}
.menu ul li {
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* background-color: #9f49a6; */
  border-radius: 5px;
}
.menu ul li a:hover {
  color: red;
  border-bottom: 1px solid rgb(255, 0, 0);
}
section#page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/svg/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer {
  background-image: url(/svg/ornamen3.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
body .ornamentb {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  z-index: 1;
}
section#page2 {
}
footer .fbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 25px;
}
footer .socialmedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
footer .socialmedia ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
footer .socialmedia ul li {
  padding: 0px 5px;
}
footer .fbox p {
  font-size: 0.75rem;
  text-align: center;
}
