body {
  display: grid;
}

.navbg {
  background: linear-gradient(30deg, #bb8fbf, #9f49a6, #9f49a6, #bb8fbf);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 1;
}
.logo {
  position: fixed;
  top: 0;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.menu {
  font-family: "DM Serif Display", serif;
  height: 72px;
  z-index: 1;
}
.active {
  width: auto;
  height: auto;
  border-radius: 5px;
  border-bottom: 1px solid rgb(255, 0, 0);
}
.menu ul {
  gap: 10px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
}
.menu ul li {
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* background-color: #9f49a6; */
  border-radius: 5px;
}
.menu ul li a:hover {
  color: red;
  border-bottom: 1px solid rgb(255, 0, 0);
}

section#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/svg/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#page1 .sliderimg {
  position: relative;
  top: 100px;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  /* background-color: rgb(86, 70, 87, 0.2); */
}
section#page1 .sliderimg .mySlides {
  display: flex;
}
section#page1 .background1 {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 0;
  z-index: -2;
}
section#page1 .sliderimg .mySlides img {
  width: 550px;
  height: 550px;
  border-radius: 15px;
}
section#page2 {
  width: 100%;
  height: 100vh;
  background-image: url(/svg/background1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section#page3 {
  width: 100%;
  height: 100vh;
  background-image: url(/svg/background4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
