body {
  display: grid;
  display: flex;
  flex-direction: column;
}

.navbg {
  background: linear-gradient(30deg, #622067, #9f49a6, #9f49a6, #622067);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 1;
}
.logo {
  position: fixed;
  top: 0;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.menu {
  font-family: "DM Serif Display", serif;
  height: 72px;
  z-index: 1;
}
.active {
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: rgb(133, 133, 133);
}
.menu ul {
  gap: 10px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
}
.menu ul li {
  width: 95px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* background-color: #9f49a6; */
  border-radius: 5px;
}
.menu ul li a:hover {
  color: red;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

section#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
section#page1 .sliderimg {
  position: relative;
  top: 100px;
  width: 80%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(86, 70, 87, 0.2);
}
section#page1 .sliderimg .mySlides {
  display: flex;
}
section#page1 .sliderimg .mySlides img {
  width: 550px;
  height: 550px;
  border-radius: 15px;
}
section#page2 {
  width: 100%;
  height: 100vh;
  background-color: #af9999;
}

section#page3 {
  width: 100%;
  height: 100vh;
  background-color: #af96b0;
}
footer {
  width: 100%;
  height: auto;
  background-color: #af96b0;
}
